
.info {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: absolute;
    display: flex;

    flex-direction: column;


    &-container {

        height: 100%;
        display: flex;
        justify-content: center;



        &-box {
            width: 90%;
            height: 100%;
            background-color: rgba($color: white, $alpha: .1);

            -webkit-border-bottom-right-radius: 10px;
            -webkit-border-bottom-left-radius: 10px;
            -moz-border-radius-bottomright: 10px;
            -moz-border-radius-bottomleft: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;

            display: flex;
            justify-content: center;
            
            .box{
                align-self: center;
                display: flex;
                max-height: 426px;


                .details {
                    width: 40vw;
                    height: auto;

                }

                .img-missing {
                    width: 250px;
                    align-self: center;
                    border: 25px solid rgba($color: white, $alpha: .4);
                    margin-right: 30px;   
                    border-radius: 5px; 
                    height: 350px;
                    color: white;
                    background-color: black;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
            }


            img {
                width: 250px;
                align-self: center;
                border: 25px solid rgba($color: white, $alpha: .4);
                margin-right: 30px;   
                border-radius: 5px; 
            }


        }
        
    }

    &-dummy {

        height: 70vh;
        width: 100%;
    }

}

@media only screen and (max-width: 680px) {


    .info-container-box {
        height: 50vh;
        align-self: flex-end;
    }

    .box {

        display: inline-block;
        height: 100%;
        width: 100%;

        .details-inner {
            width: 90vw;
            height: 100%;

            img {
                display: block;
            }

            .pic-name {
                display: block;

            }
        }

        img {
            display: none;
          }
      

    }

  }