body {
    height: 50vh;
    background: black;
  }
  
.loadicon {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;

  .header {
    position: absolute;
    width: 100%;
    top: 20vh;
  }

  h1 {
    font-size: 42px;
  }



  svg {
    position: absolute;
    top: 50vh;
    left: 46vw;

    height: 8vw;
    transform: rotate(-60deg);
    color: white;
    animation: 1s linear 0s infinite rotate;
  }
  
  #shadow {
    animation: 1s linear 0s infinite reverse rotate;
    color: darkgrey;
    opacity: 90%;
    z-index: -1;
    opacity: 70%;
  }
}


  
  @keyframes rotate {
    from {transform: rotate(-60deg)}
    to {transform: rotate(300deg)}
  }